<% provide(:title, 'Sign up') %>
<div class="container">
    <div class="text-center">
        <h1>Sign up</h1>
    </div>

    <div class="form-width">
        <%= form_with(model: @user) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :name, "名前" %><br>
            <%= f.text_field :name, class: 'form-control' %><br><br>

            <%= f.label :email, "メールアドレス" %><br>
            <%= f.email_field :email, class: 'form-control' %><br><br>

            <%= f.label :password, "パスワード" %><br>
            <%= f.password_field :password, class: 'form-control' %><br><br>

            <%= f.label :password_confirmation, "パスワード（確認用）" %><br>
            <%= f.password_field :password_confirmation, class: 'form-control' %><br><br>

            <%= f.submit "決定", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>