<header>
    <div class="container">
        <div class="header-title">
            <%= link_to("Skill Market", users_path)%>
        </div>

        <div class="header-nav">
            <nav>
            <% if logged_in? %>
                <li><%= link_to(current_user.name, current_user)%></li>
                <li><%= link_to("ログアウト", logout_path)%></li>
            <% else %>
                <li><%= link_to("ログイン", login_path)%></li>
                <li><%= link_to("サインアップ", new_user_path)%></li>
            <% end %>
            </nav>
        </div>
    </div>
</header>